.topnav {
  background-color: #333;
  overflow: hidden;
}

.topnav .link {
  float:left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav .icon {
  display: none;
}

.topnav .link:hover{
  background-color: #555;
  color: white;
}


@media screen and (max-width: 720px) {
  .topnav .link:not(:first-child){
    display: none;
  }
  .topnav .icon {
   margin-right: 10px;
   margin-top: 10px;
   float: right;
   display: block;
   width: 30px;
   height: 30px;
  }
}
 
@media screen and (max-width: 720px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive .link{
    float: none;
    display: block;
    text-align: left;
  }
  
}