*{
   padding: 0px;
   margin: 0px; 
}

.line{
   border-style: solid;
   border-width: 10px;
   border-top: none;
   border-left: none;
   border-bottom: none;
   border-color:blueviolet;
   height: 50px;
}

.formation{
   padding: 10px;
   background-image: url('../img/figuresW1.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   height: auto;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.formationContent p{
   animation: bounceIn;
   animation-duration: 2s;
   color: white;
   background-color: black;
   border-color: gray;
}

.date{
   border-color: black;
   border-style: solid;
   border-radius: 100%;
   padding: 20px;
   margin: auto;
   width:fit-content;
}
.date:hover{
   border-color: gold;
   zoom: 120%;
}

.information{
   border-style: solid;
   border-top-color: black;
   padding: 15px;
   border-radius: 10px;
}

.information:hover{
   border-color: gold;
   zoom: 120%;
}